################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.ipch
*.sqlite
*.vsidx
*.wsuo
/.gitignore
